{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写项目基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success">{{ msg | safe }}</div>
                            {% endif %}
                        <form id="projectForm" method="post"  class="form-horizontal" action="">

                            {{ pf.name|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                             {{ pf.code|bootstrap_horizontal }}
                            </div>
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_project|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_url |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_model_type|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_url |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_type |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.owner |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.dept  |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.group |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.dependent|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.manage |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.phone |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.work|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.web_work|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.backup|bootstrap_horizontal }}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block self_footer_js %}

<script>
{#$(document).ready(function() {#}
{#    $.ajaxSetup({#}
{#        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}#}
{#    });#}
{#}#}

$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
});

$('#projectForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "name": {
            rule: "required;check_username;check_name",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "code": {
            rule: "required;length[0~10]",
            tip: "输入密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "scm_url": {
            rule: "required",
            tip: "姓名",
            ok: "",
            msg: {required: "必须填写"}
        },
        "owner": {
            rule: "required",
            tip: "manage",
            ok: "",
            msg: {required: "必须填写"}
        },
        "work": {
            rule: "required",
            tip: "项目工作目录",
            ok: "",
            msg: {required: "必须填写"}
        },
        "web_work": {
            rule: "required",
            tip: "项目WEB目录",
            ok: "",
            msg: {required: "必须填写"}
        }

    },
    valid: function(form) {
        form.submit();
    }
});

{##}
{##}
{#$("#id_scm").change(function()#}
{#        {#}
{#            scmSelectionChanged();#}
{#        })#}
{#        function scmSelectionChanged()#}
{#        {#}
{#            var selected_scm = $("#id_scm").selectedIndex;#}
{#            $.get('/jproject/getdata/', {selected_scm : selected_scm}, function(project){#}
{#            $("#id_project").val(project);#}
{#            });#}
{#        }#}

//向服务器请求城市列表数据并调用添加城市函数
{#function get_project_data(id_scm){    //这里的Selected_Id应该是被选中的省份的ID#}
{##}
{#            if(id_scm == 'Not_data1'){    //如果选择了"Province"选项，则表示重置当前City和Country的选项内容，不会向服务器请求数据#}
{#                $("#id_scm_project").empty();#}
{#                $("#id_scm_project").append("<option id='Not_data2'>City</option>");#}
{#            }else{#}
{#                $.getJSON('/GetCityData/',{'id':id_scm},function(Project_list){#}
{#                    add_project(Project_list);    //调用添加城市选项函数#}
{#                });#}
{#            }#}
{#        }#}


//在当前页面添加城市选项
{#function add_project(Project_list){#}
{#            $("#id_scm_project").empty();#}
{#            $("#id_scm_project").append("<option id='Not_data2'>City</option>");#}
{#            $("#id_scm_project").empty();#}
{#            $("#id_scm_project").append("<option id='Not_data3'>Country</option>");#}
{#            //上面的两次清空与两次添加是为了保持级联的一致性#}
{#            for(var index in Project_list){     //获得城市列表中的城市索引#}
{#                //添加内容的同时在option标签中添加对应的城市ID#}
{#                var text = "<option"+" id='"+Project_list[index]+"'>"+Project_list[index]+"</option>";#}
{#                $("#id_scm_project").append(text);#}
{#                console.log(text);  //用来观察生成的text数据#}
{#            }#}
{#        }#}

{#$(function(){#}
{#        var scm=$("#id_scm").val()#}
{#        var project=$("id_project").val()#}
{#        $("#id_scm_rul").val(scm+project)#}
{#{)#}

$("#id_scm").change(function(){
            var parentId = $("#id_scm").val();
            if( parentId != "null" )
                $.ajax({
                    url : "{% url 'getProject' %}",
                    type : 'GET',
                    data : {
                        'id' : parentId
                    },
                    dataType : 'json',
                    error:function()
                    {
                        alert('Error loading data!');
                    },
                    success:function(msg)
                    {
                        $("#id_scm_project").empty();
                        $.each(eval(msg), function(i, item) {
                            $("<option value='" + item.pro_id + "'>" + item.pro_url + "</option>").appendTo($("#id_scm_project"));
                        });
                    }
                });
                return false;

        });

$("#id_scm_project").change(function(){
            var parentId = $("#id_scm").val();
            var projectId = $("#id_scm_project").val();
            if(parentId != "null" || projectId != "null" )
                $("#id_scm_url").val(parentId+projectId);

        });

</script>
{% endblock %}
