{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写项目基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success">{{ msg | safe }}</div>
                            {% endif %}
                        <form id="projectForm" method="post"  class="form-horizontal" action="">

                            {{ pf.name|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                             {{ pf.code|bootstrap_horizontal }}
                            </div>
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_project|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_url |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_model_type|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_url |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.scm_type |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.owner |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.dept  |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.group |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.dependent|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.manage |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.phone |bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.work|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.web_work|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                             {{ pf.backup|bootstrap_horizontal }}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block self_footer_js %}

<script>
$('#projectForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "name": {
            rule: "required;check_username;check_name",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "code": {
            rule: "required;length[0~10]",
            tip: "输入密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "scm_url": {
            rule: "required",
            tip: "姓名",
            ok: "",
            msg: {required: "必须填写"}
        },
        "owner": {
            rule: "required",
            tip: "manage",
            ok: "",
            msg: {required: "必须填写"}
        },
        "work": {
            rule: "required",
            tip: "项目工作目录",
            ok: "",
            msg: {required: "必须填写"}
        },
        "web_work": {
            rule: "required",
            tip: "项目WEB目录",
            ok: "",
            msg: {required: "必须填写"}
        }

    },
    valid: function(form) {
        form.submit();
    }
});

{#$("document").ready(function(){#}
{#    $("input.role").click(function(){#}
{#        if($("input.role[value=GA]").is( ":checked" )){#}
{#            $("#admin_groups").css("display", 'block');#}
{#        }#}
{#        else {#}
{#            $("#admin_groups").css("display", 'none');#}
{#        }#}
{#    })#}
{#{)#}

$("#id_scm").change(function()
        {
            scmSelectionChanged();
        })
        function scmSelectionChanged()
        {
            var selected_scm = $("#id_scm").selectedIndex;
            $.get('/jproject/getdata/', {selected_scm : selected_scm}, function(project){
            $("#id_project").val(project);
            });
        }
        }

$(function(){
        var scm=$("#id_scm").val()
        var project=$("id_project").val()
        $("#id_scm_rul").val(scm+project)
})

</script>
{% endblock %}
